{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Todo Application</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
	<div class="container">
		<h1>Todo List</h1>
		<form action="/addTodoItem/" method='POST'> {% csrf_token %}
			<input type="text" id="new-task" placeholder="Add a new task" name="content">
			<button type="submit">Add Task</button>
		</form>
		<ul id="todo-list">
			{% for i in all_items %}
			<li>
				<input type="checkbox">
				<label>{{ i.content }}</label>
				<button class="delete-button">Delete</button>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% comment %} <script type="text/javascript" src="{% static 'script.js' %}"></script> {% endcomment %}
</body>
</html>
